.service__wrapper {
  /* border: 1px solid red; */
} 
 
 /* h1.heading {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
 } */

 .team__subtitle {
  font-size: 6rem;
  font-weight: bolder;
  text-align: center;
  background: -webkit-linear-gradient(#00d0f9, #0674fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__title {
  text-align: center;
}

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
 }

 .service__box {
    border-radius: 10px;
    width: 90%;
    border: none;
    box-shadow: 0px 0px 6px 3px #dadce0;
    padding: 15px;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    text-align: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* border: 1px solid red; */
    margin: 15px;
}

.service__box a {
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.service__box h1 {
  margin-top: .5rem;
  color: #0674fd;
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
}

.service__box h6 {
  margin-top: .6rem;
  color: #00d0f9;
  font-size: 1rem;

}

 .service__box:hover {
    transform: translateY(5px);
   box-shadow: 0px 3px 1px 1px #00d0f9;
    /* background-image: linear-gradient(90deg, #f61b10, #ef0963); */
    /* background-image: linear-gradient(90deg, #00d0f9, #0674fd); */
 }

 .service__box:hover .icon {
    color: #00d0f9;
 }

 .service__box:hover p.service__text .p__color {
          color: #00d0f9 !important;
 }
 
 /* #00d0f9
#0674fd */
 /* .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
    color: #00d0f9;
  justify-content: center;
  align-items: center;
  text-align: center;
 } */

.service__box img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 3px 1px 1px #00d0f9;
}

 p.service__text.p__color {
    margin-bottom: 0;
    font-size: .8rem;
 }

 h1.service__text {
    font-size: 14px;
    font-weight: 600;
    color: #0674fd;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
 }
 
.service__box button {
   margin-top: 3rem;
   border-radius: 10px;
   color: #00d0f9;
   cursor: pointer;
   padding: 15px;
   width: 55%;
   height: 45px;
   margin: 0 auto;
   border: none;
   background: #FFF;
   box-shadow: 0px 6px 5px 5px #dadce0;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
  font-size: .5rem;
 }
 
 .link_profile {
  /* color: red; */
  color: #0674fd;
  font-size: .5rem;
 }

.social__icons {
  display: flex;
  width:100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 2rem;
}

.social__icons a {
  color: #000;
}


 @media only screen and (max-width: 1024px) {
      .service__box {
        padding: 32px;
      }
 }
 
 .container {
  width: 80%;
  margin: 0px auto;
} 

.white {
   color: #fff !important;
}

.d__flex {
  display: flex;
}

.row {
  display: flex;
  /* width: 100%; */
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.col__2{
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}


.pointer {
  cursor: pointer;
}

svg {
  stroke-width: 1 !important;
  margin-top: 10px;
}

button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #f9004d;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s all ease;
  height: 50px;
  width: 180px;
  margin: 0 10px;
}

.p__color {
  /* color: rgba(198, 201, 216, .75); */
  color: #0674fd;
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  margin-bottom: 5px;
}

button.about.btn.pointer:hover {
  background: #fff;
  color: #000 !important;
}

@media only screen and (max-width: 768px) {
    .col__2 {
     max-width: 100%;
    }
}

.col__3 {
  max-width: 33.333333%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
   box-shadow: 0px 6px 5px 5px #dadce0;
}

.component__space {
  padding: 100px 0px; 
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@media only screen and (max-width: 768px) {
    .col__3 {
     max-width: 50%;
    }
    
}

@media only screen and (max-width: 425px) {
  .col__3 {
   max-width: 100%;
  }
  
}

