.slider__container {
    width: 400px;
}

.slider__card {
    background-color: #fff;
    border:1px solid rgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

.slider__name {
    font-size: 1rem;
    font-weight: 500;
}

.slider__description {
    font-size: 1rem;
}

.swiper-pagination-bullet {
    background: none;
    color: black;
}

.swiper-pagination-bullet-active {
    background: none;
    color: black;
}

@media screen and (max-width: 992px) {
    .slider__container {
        width: initial;
    }
    .slider__card {
        padding: 1.25rem 1.5rem;
    }
}