.team__wrapper {
   /* border: 1px solid red; */
}

.team__subtitle {
   font-size: 6rem;
   font-weight: bolder;
   text-align: center;
   background: -webkit-linear-gradient(#00d0f9, #0674fd);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.team__title {
   text-align: center;
}

.members__card h2, h4, h5, a {
   margin: 0;
   padding: 0;
}

.members__card h2 {
   margin-top: .8rem;
   font-weight: 800;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.members__card h4 {
   color: #0674fd;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 1.2rem;
   margin-top: .5rem;
}

.members__card h5 {
   /* color: #000; */
   margin-top: 3rem;
   border-radius: 10px;
   color: #00d0f9;
   cursor: pointer;
   padding: 15px;
   width: 50%;
   margin: 0 auto;
   border: none;
   box-shadow: 0px 6px 5px 5px #dadce0;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.members__card a {
   color: #00d0f9;
}

.members__card a:hover {
   color: #0674fd;
}

.members__card {
   padding: 5px;
   margin: 5px;
   margin-top: 2rem;
   /* border: 1px solid red; */
   max-height: 65vh;
   /* width: 50%; */
   text-align: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   box-shadow: 0px 6px 5px 5px #dadce0;
}

.members__card img {
   /* margin-top: 1rem;
   height: 150px;
   width: 150px;
   border-radius: 50%; */
   height: 200px;
   width: 200px;
   padding: 15px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   box-shadow: 0px 3px 1px 1px #00d0f9;
}

.members__card h3 {
   color: blue;
   font-weight: 400;
   font-size: 1rem;
}

.members__card:hover {
   box-shadow: 0px 3px 1px 1px #00d0f9;
  /* background: linear-gradient(to top, #00d0f9, #0674fd); */
  /* border: linear-gradient(to top, #00d0f9, #0674fd); */
}

 .social__icons {
   display: flex;
   width: 90%;
   margin: 0 auto;
   justify-content: space-evenly;
   margin-top: 2rem;
 }
 
 .members__card li {
    cursor: pointer;
    /* font-size: 20px; */
 }
 
 
 .facebook {
    /* color: #4267B2; */
    color: #121212;
 }
 
 .facebook:hover {
    transition-duration: 0.5s;
    animation: ease-in-out;
    -webkit-animation: ease-in-out;
 }
 
 .gmail {
    /* color: #e2432a; */
    color: #121212;
 }
 
 .gmail:hover {
    transition-duration: 0.5s;
    animation: ease-in-out;
    -webkit-animation: ease-in-out;
 }
 
 .github {
    color: #121212;
 }
 
 .linkedin {
    /* color: #0077b5; */
    color: #121212;
 }