.testimonial__container {
  /* width: 850px; */
}

.swiper__container {
  /* border: 1px solid green; */
  justify-content: center;
}

.testimonial__subtitle {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.testimonial__img {
  width: 100px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonials__name {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #FFF;
}
.testimonial__description {
  font-size: 1rem;
}

.swiper-pagination-bullet {
  background-color: #00d0f9 !important;
  height: 13px;
  width: 13px;
}

.swiper-pagination-buller-active {
  background-color: #FFF !important;
}

@media screen and (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }
  
  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}

.testimonials__user {
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 11px 5px #f2f2f2;
}

.swiper__card img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 3px solid #00d0f9;
  border-radius: 50%;
  padding: .2rem;
}

.testimonial__title {
  font-size: 6rem;
font-weight: bolder;
background: -webkit-linear-gradient(#00d0f9, #0674fd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.testimonials__message {
  margin-top: 1rem;
}
s
.testimonial__subtitle {
  color: blue;
}
.testimonial__head {
  text-align: center;
}

.testimonial__wrapper {
  /* border: 1px solid red; */
  margin-top: 2rem;
  height: 60vh;
  width: 100%;
  background-position: center;
  background: url("../../assets/testi-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
 
 .swiper__desc {
  color: #00d0f9;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
 }


.testimonial__card {  
 
  /* .testimonial__card {
    background: none;
    color: #FFF;
    text-align: center;
  } */
 
  /* .testimonial__card {
    background: none;
    color: #FFF;
    text-align: center;
  } */ 
 
/* .testimonial__card {
  background: none;
  color: #FFF;
  text-align: center;
} */
  /* background-color: #FFF; */
  /* border:1px solid rgba(0,0,0,0.1); */
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  background: transparent;
  text-align: center;
  color: #FFF;
  margin-top: 2rem;
  /* width: 50%; */
  margin-bottom: 3rem;
 }
 
 .testimonial__date {
   position: left;
   align-items: start;
   text-align: left;
   float: left;
   font-size: .6rem;
   color: #00d0f9;
   margin-top: .4rem;
}

.fa {
  color: #0674fd;
}
