.text-center {
    /* border: 1px solid red; */
    /* align-items: center; */
    /* text-align: center; */
    /* margin: 10px; */
    max-width: 98%;
    border: none;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    
    /* box-shadow: 0px 0px 6px 3px #dadce0; */
}
.text-center img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.offer__details h1 {
    text-align: center;
}

.offer__details {
    margin: 5px;
    padding: 5px;
}

.img__con {

}