.team__wrapper {

}

.team__subtitle {
   text-align: center;
}

.team__title {
   text-align: center;
}

.members__card {
   text-align: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
     /* box-shadow: 0px 6px 5px 5px #dadce0; */
	/* box-shadow: 0px 6px 5px 5px #ccc; */
}

.members__card h3 {
   color: blue;
   font-weight: 400;
   font-size: 1rem;
}

.members__card:hover {
   padding: 3px;
   margin: 3px;
  background: linear-gradient(to top, #00d0f9, #0674fd);
}