.office__wrapper {
    /* margin-top: 2rem; */
}

.office__title {
    text-align: center;
}

.office__image {
    margin-top: 1rem;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.office__image img {
    max-width: 33%;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}