@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

mark {
    /* background: -webkit-linear-gradient(#00d0f9, #0674fd); */
    /* background: -webkit-linear-gradient(#00d0f9, #0674fd); */
    font-style: italic;
    font-weight: 500;
    color: #00d0f9;
    background: none;
    font-family: 'Playfair Display', serif;
}

.divider {
  height: 5px;
  margin-top: 2rem;
  width: 3%;
  margin: 0 auto;
  background: linear-gradient(to left, #00d0f9, #0674fd);
}

::-webkit-scrollbar {
  width: 20px;
}

/* ::-webkit-scrollbar-track {
  background-color: rgb(0, 214, 0);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} */

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 54, 232);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}