.industry__wrapper {
    text-align: center;
}

.industry__title {
    color: blue;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-top: 1.5rem;
}

.industry__container {
     margin: 0 auto;
     margin-top: 2.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
    justify-content: space-evenly;
}

.industry__container p {
    font-size: 1rem;
    font-weight: 550;
    word-break: break-all;
    font-style: italic;
}

.industry__card p {
    font-size: 1rem;
    /* word-break: break-all; */
}

.industry__card {
    /* border: 1px solid red; */
    /* height: 20vh; */
    /* width: 30%; */
    /* padding: 1rem; */
    /* border-right: 1px solid #ccc; */
}

.industry__card:hover {
    /*border: none;
    */
    border-bottom: 3px solid #00d0f9;
    transition: .3s ease-in-out ;
    -webkit-transition: .3s ease-in-out ;
    -moz-transition: .3s ease-in-out ;
    -ms-transition: .3s ease-in-out ;
    -o-transition: .3s ease-in-out ;
}

.industry__card img {
   height: 50px;
   width: 50px;
}


@media only screen and (max-width: 768px) {
    .industry__wrapper {
     max-width: 100%;
    }
    
}

@media only screen and (max-width: 425px) {
  /* .industry__wrapper {
   max-width: 50%;
  } */
  .industry__card p {
    font-size: .6rem;
    font-weight: 200;
  }
  
  .industry__card img {
    height: 45px;
    width: 45px;
  }
}
