.portfolio__header {
}

.portfolio__title {
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
    background: -webkit-linear-gradient(#00d0f9, #0674fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio__subtitle {
    text-align: center;
    color: #00d0f9;
    font-size: 1.5rem;
}

.portfolio__text {
    text-align: center;
    font-weight: 500;
}

.portfolio__card { 
    margin-top: 2rem;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.portfolio__image left {
    border: 1px solid blue;
    width: 50%;
    /* padding: 1rem;
    margin: 1rem; */
}

.portfolio__image center {
    border: 1px solid orchid;
    width: 50%;
    /* padding: 1rem;
    margin: 1rem; */
}

.portfolio__center img {
    width: 100%;
    height: 80vh;
}


.portfolio__image right {
    border: 1px solid green;
    width: 50%;
    /* padding: 1rem;
    margin: 1rem; */
}

.portfolio__box {
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: row;
    height: 45%;
    margin: 1rem;
}

.portfolio__box img {
    width: 100%;
    border-radius:  10px;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 80%;
    opacity: 0;
    margin: 0 auto;
    margin-top: 1.5rem;
    transition: .5s ease;
    /*background-color: #008CBA;
    */background-color: rgba(10, 10, 10, 0.9);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.portfolio__image:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__box:hover .portfolio__overlay {
    opacity: 1;
}


.portfolio__text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay__title {
    color: #00d0f9;
    font-size: 1rem;
    font-weight: bolder;
    display: inline-block;
    font-family: inherit;
    padding: 5px;
}

.overlay__description {
    font-size: .8rem;
    margin-top: .6rem;
}