.know__wrapper {
    background: url("../../assets/bg-counter2.jpg");
    margin-top: 3rem;
    /* border: 1px solid red; */
    height: 40vh;
    padding: .5rem;
}

.know__title {
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 5rem;
}

.know__divider {
    height: 5px;
    width: 3%;
    margin-left: 5rem;
    background: linear-gradient(to left, #00d0f9, #0674fd);
}

.know__details {
    /* justify-content: space-evenly; */
    display: flex;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.know__card {
    display: flex;
    margin: 0 auto;
    background-origin: 1px solid red;
}

.know__card img {
    height: 60px;
    width: 60px;
}

.know__card p {
    font-size: 1.3rem;
    margin-top: .8rem;
}